@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-16px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-slideDown {
  animation: slideDown 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes modalIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.animate-modalIn {
  animation: modalIn 0.3s cubic-bezier(0.4,0,0.2,1) forwards;
}

@keyframes modalOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}
.animate-modalOut {
  animation: modalOut 0.3s cubic-bezier(0.4,0,0.2,1) forwards;
}

.loader {
    position: relative;
    width: 100px;
    height: 100px;
  }
  .loader:before{
    content: '';
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    top: 50%;
    left: 0;
    transform: translate(-5px, -50%);
    background: linear-gradient(to right, #fff 50%, #0d0c0c 50%) no-repeat;
    background-size: 200% auto;
    background-position: 100% 0;
    animation: colorBallMoveX 1.5s linear infinite alternate;
  }
 .loader:after{
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background: #0d0c0c;
 }
@keyframes colorBallMoveX {
  0%  {
    background-position: 0% 0;
    transform: translate(-15px, -50%);
  }
  15%  , 25% {
    background-position: 0% 0;
    transform: translate(0px, -50%);
  }
  75% , 85% {
    background-position: 100% 0;
    transform: translate(50px, -50%);
  }
  100% {
    background-position: 100% 0;
    transform: translate(65px, -50%);
  }
}
